<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.douyuehan.doubao.mapper.BmsSeriesTagMapper">
    <select id="getTopicIdsByTagId" resultType="java.lang.String">
        SELECT t.series_id
        from bms_series_tag t
        where t.series_id = #{id}
    </select>
</mapper>